#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    border-bottom: 3px solid var(--secondary-border-color);
}

#about #about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding: 50px;
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    justify-content: space-between;
}


#about #about-me img{
    border-radius: 50%;
    width: 300px;
    filter: brightness(.85);
}

#about #about-me #text-area{
    max-width: 500px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

#about #about-me #text-area h1{
    font-size: 2.3rem;
}

#about #about-me #text-area h2{
    font-size: 1.8rem;
}

#about #about-me #text-area p{
    font-size: 1.3rem;
    line-height: 1.1;
    color: var(--text-color);
}

#about #about-me #text-area a{
    color: var(--text-color);
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    padding: 10px;
    width: 180px;
    text-align: center;
    margin-top: 10px;
}

#about #about-me #text-area a:hover{
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-bg-color);
}


/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
#about #about-me{
    padding: 50px;
}

#about #about-me{
    flex-direction: column;
}


#about #about-me img{
    width: 300px;
}

#about #about-me #text-area{
    max-width: 470px;
}

#about #about-me #text-area h1{
    font-size: 3rem;
}

#about #about-me #text-area h2{
    font-size: 2.7rem;
}

#about #about-me #text-area p{
    font-size: 2.3rem;
}

#about #about-me #text-area a{
    width: 280px;
    font-size: 2rem;
}
}

/* Celulares médios a grandes (481px até 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS para celulares maiores e alguns Androids */
}

/* Tablets (768px até 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

#about #about-me{
    flex-direction: column;
}


#about #about-me img{
    width: 400px;
}

#about #about-me #text-area{
    max-width: 700px;
}

#about #about-me #text-area h1{
    font-size: 3rem;
}

#about #about-me #text-area h2{
    font-size: 2.7rem;
}

#about #about-me #text-area p{
    font-size: 2.3rem;
}

#about #about-me #text-area a{
    width: 280px;
    font-size: 2rem;
}

}