header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    background-color: var(--secondary-bg-color);
    position: relative;
    height: 60px;
    gap: 10px;
    border-bottom: 3px solid var(--secondary-border-color);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header #logo{
    width: 56px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

header #theme-icon {
    font-size: 25px;
}

header nav ul li a:hover{
    color: var(--text-color);
    cursor: pointer;
}

header #sun:hover{
    cursor: pointer;
}

@media (max-width: 419px) {
    header {
    flex-flow:column-reverse;
    align-items: flex-start;
    padding: 1rem;
    min-height: 230px;
}


header nav ul li {
    font-size: 1.5rem;
}

header #logo{
    width: 70px;
    position: static;
    transform: none;
    align-self: flex-end;
    margin-bottom: 20px;
}

header #theme-icon {
    font-size: 25px;
}
}

@media (min-width: 420px) and (max-width: 480px) {
header {
    flex-flow:column-reverse;
    align-items: flex-start;
    padding: 2rem;
    min-height: 230px;
}

header nav {
    align-self: center;
}

header nav ul li {
    font-size: 1.8rem;
}

header #logo{
    width: 70px;
    position: static;
    transform: none;
    align-self: flex-end;
    margin-bottom: 20px;
}

header #theme-icon {
    font-size: 25px;
}
}

/* Celulares médios a grandes (481px até 767px) */@media (min-width: 481px) and (max-width: 767px) {
  header {
    flex-flow:column-reverse;
    align-items: flex-start;
    padding: 2rem;
    min-height: 220px;
}

header nav {
    align-self: center;
}

header nav ul li {
    font-size: 2.5rem;
}

header #logo{
    width: 70px;
    position: static;
    transform: none;
    align-self: flex-end;
}

header #theme-icon {
    font-size: 25px;
}
}

/* Tablets (768px até 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    flex-flow:column-reverse;
    align-items: flex-start;
    padding: 2rem;
    min-height: 220px;
}

header nav {
    align-self: center;
}

header nav ul li {
    font-size: 2.5rem;
}

header #logo{
    width: 70px;
    position: static;
    transform: none;
    align-self: flex-end;
}

header #theme-icon {
    font-size: 25px;
}
}