#projects{
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    border-bottom: 3px solid var(--secondary-border-color);
}

#projects .project-container img{
    width: 450px;
    border-radius: 20px;
}

#projects .project-container{
    background-color: var(--primary-bg-color);
    border-radius: 50px;
    padding: 50px;
    min-width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    border: 1px solid var(--secondary-border-color);
}

#projects #project-2{
    flex-direction: row-reverse;
}

#projects .project-container .descripition-container{
    max-width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects .project-container .descripition-container h2{
    font-size: 2.5rem;
}

#projects .project-container .descripition-container h3{
    font-size: 2rem;
    color: var(--text-color);
}

#projects .project-container .descripition-container p, #projects .project-container .descripition-container li{
    font-size: 1.5rem;
    font-weight: 400;
}

#projects .project-container .descripition-container li{
    margin-left: 20px;
    color: var(--text-color);
}

#projects .project-container .descripition-container a, #projects a{
    color: var(--text-color);
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

#projects .project-container .descripition-container a:hover, #projects a:hover{
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-bg-color);
}


/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
#projects .project-container{
    flex-direction: column;
    padding: 50px 20px;
}

#projects .project-container img{
    width: 380px;
    border-radius: 20px;
}

#projects #project-2{
    flex-direction: column;
}

#projects .project-container .descripition-container{
    max-width: 470px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects .project-container .descripition-container h2{
    font-size: 3.5rem;
}

#projects .project-container .descripition-container h3{
    font-size: 3rem;
    color: var(--text-color);
}

#projects .project-container .descripition-container p, #projects .project-container .descripition-container li{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

#projects .project-container .descripition-container a, #projects a{
    width: 250px;
    font-size: 2rem;
}
}

/* Celulares médios a grandes (481px até 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS para celulares maiores e alguns Androids */
}

/* Tablets (768px até 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
#projects .project-container{
    flex-direction: column;
}

#projects .project-container img{
    width: 100%;
    border-radius: 20px;
}

#projects #project-2{
    flex-direction: column;
}

#projects .project-container .descripition-container{
    max-width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects .project-container .descripition-container h2{
    font-size: 3.5rem;
}

#projects .project-container .descripition-container h3{
    font-size: 3rem;
    color: var(--text-color);
}

#projects .project-container .descripition-container p, #projects .project-container .descripition-container li{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

#projects .project-container .descripition-container a, #projects a{
    width: 250px;
    font-size: 2rem;
}

}